.registrationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background: url(../../assets/background-login.jpg);
  background-size: cover;
  background-position: center;
  padding: 16px;
}

.registrationForm {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.767);
  gap: 24px;
  padding: 36px;
  backdrop-filter: blur(6px);
  border: 1px solid rgb(229, 229, 229);
}

.submitButton {
  padding: 12px 20px;
  background-color: rgb(35, 142, 255);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.submitButton:hover {
  background-color: rgb(37, 99, 235);
}

.loginLink {
  margin-top: 8px;
  font-size: 14px;
  color: black;
  text-align: center;
  text-decoration: none;
}

.loginLink span {
  color: rgb(35, 142, 255);
  text-decoration: underline;
}
