.quizCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 350px;
}

.solvedQuizCard {
  background-color: rgb(238, 238, 238);
  border: 2px solid rgb(0, 6, 8);
}

.quizCard:hover {
  transform: scale(1.05);
}

.quizCardImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.quizCardTitle {
  font-size: 22px;
}

.quizCardCategory {
  font-size: 14px;
  color: rgb(35, 142, 255);
}

.categoryText {
  color: black;
}
