.question {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 12px;
}

.questionTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 12px 0px;
}

.textInput,
.numberInput {
  width: 100%;
  padding: 8px;
  border: 2px solid rgb(229, 231, 235);
  border-radius: 12px;
  font-size: 16px;
  transition: 0.25s ease-in-out;
}

.textInput:focus,
.numberInput:focus {
  border-color: rgb(79, 70, 229);
  outline: none;
}

.radioQuestion {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.radioOption {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radioLabel {
  font-size: 16px;
}

.matchQuestion {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}

.matchInput {
  margin-left: 32px;
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 12px;
  border: 2px solid rgb(229, 231, 235);
}

.matchInput:focus {
  border-color: rgb(79, 70, 229);
  outline: none;
}

.orderQuestion {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.orderItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  gap: 16px;
  padding: 8px;
  background-color: rgb(243, 244, 246);
  border-radius: 12px;
}

.orderButton {
  background-color: rgb(79, 70, 229);
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.25s ease-in-out;
}

.orderButton:hover {
  background-color: rgb(67, 56, 202);
}

.orderButton:disabled {
  background-color: rgb(209, 213, 219);
}

.correct {
  background-color: rgb(187, 247, 208);
  border: 2px solid rgb(22, 163, 74);
  color: rgb(22, 163, 74);
  font-weight: 600;
  padding: 8px;
  border-radius: 12px;
  width: 120px;
  text-align: center;
  margin: 12px 0px;
}

.incorrect {
  background-color: rgb(254, 202, 202);
  border: 2px solid rgb(220, 38, 38);
  color: rgb(220, 38, 38);
  font-weight: 600;
  padding: 8px;
  border-radius: 12px;
  width: 120px;
  text-align: center;
  margin: 12px 0px;
}

hr {
  margin: 32px 0px;
}
